      <div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="csulaShow=false" ng-click="csulaShow=!csulaShow">
                                    
                                    <div class="wow bounce" data-wow-delay="5s">
                                   
                                    <a href="http://www.calstatela.edu/" target="_blank"> <h1>California State University</h1>  <stong>Los Angeles</stong>
                                  
                                  
                                    </a></div>
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="csulaShow">
                                        <p>I am a Graduate Student in Computer science at the Cal State University Los Angeles with a GPA of 3.5.
                                           I’ve been performing the tasks required in all of my projects, Possess strong analytical and problem solving skills with the ability to adapt to a new environment and meet stringent deadlines. Possess a flexible & detail oriented attitude</p>
                                   
                                    <div class="wow slideInLeft"data-wow-duration="3s"><csula-slide-show></csula-slide-show></div>  
                                    <csula-map></csula-map>
                                    <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGZm0g4QhvOf5o3jFw08NkrCR2I4PFDFU&callback=myMap"></script>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>courses: Adv. Web & Internet Programming, Development with Angular Js, Adv. Software Engineering, Search Engine Development, Big Data, Adv. Data Structure and Algorithms, Adv. JAVA and Oops.  </h5>
                                    </footer>

                                    </div>
                                   
            </div>