 <div class="row">


            <div class="col-sm-4 portfolio-item wow slideInLeft">
                    <a ng-click="csulaShow=!csulaShow" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/client/assets/images/csula.png" class="img-responsive" alt="cal state la">
                    </a>
                </div>


 </div>       
 <div ng-show="csulaShow">
     <csula></csula>
</div>         


  <div class="row">


            <div class="col-sm-4 portfolio-item wow slideInLeft">
                    <a ng-click="gtuShow=!gtuShow" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/client/assets/images/gtu.png" class="img-responsive" alt="gtu">
                    </a>
                </div>


 </div>                
  <div ng-show="gtuShow">
     <gtu></gtu>
</div> 