   <div class="row">
                                    <div class="w3-card-4" >

                                       <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="gtuDetShow=false" ng-click="gtuDetShow=!gtuDetShow">
                                    
                                    <div class="wow bounce" data-wow-delay="5s">
                                   
                                    <a href="http://www.gtuinfo.in/Branch/Computer-Science-Engineering/Syllabus" target="_blank"> <h1>Gujarat Technological University</h1>  <stong>India</stong>
                                  
                                  
                                    </a></div>
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="gtuDetShow">
                                        <p>I have completed my Bachelor of Engineering in Computer Science with GPA 7.34/10 in year of 2010-2014 and came to united states to pursure my masters.  </p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>courses:Database Management Systems, Data Structures, Object Oriented Programming With C++ , 	Cyber Security , Object Oriented Programming using JAVA , Web Technology , 	Complier Design ,	Android Programming , 	Advanced Java </h5>        </footer>
   
                            </div>
                                   
            </div>