<div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="blogDecShow=false" ng-click="blogDecShow=!blogDecShow">
                                    <h1>Blog Webiste</h1>  <stong><a href="https://github.com/daxesh10/profile-website" target="_blank">source code</a></stong>
                                  
                                    <div class="wow bounce" data-wow-delay="5s"><a href="http://scraper-crypto-coin.herokuapp.com/" target="_blank"> <em>Link</em></a></div>
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="blogDecShow">
                                    <p>
                                        Developed my own Profile website, listing all my skills and projects with feature of blogging and review , furthermore adding functionality of crypto-currency payments.
                                        This a blogging webite with feature of posting a blog , with autheication of User by google and email verification. It allows user to login and singup and post a blog,
                                        moreover has job postings from liked in. Extensive use of firebase and angular . For UI i am using angular material.
                                        Auth using Google Firebase .Moreover have included sample for using angular fire, created Restful Api for website data. Deployment with Heroku and Github.                                      
                                        
                                    </p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment: Firebase, NODE js , Express , HTML5/CSS , SASS, ng-material , angular , javascript, jquery, NoSQl, JSON, Api,
                                    Git, Heroku.
                                    </h5>
                                    </footer>

                                    </div>
                                   
            </div>