<div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="imgDecShow=false" ng-click="imgDecShow=!imgDecShow">
                                    <h1>Image Downloader</h1>
                                    <div class="wow bounce" data-wow-delay="5s"><a href="https://github.com/daxesh10/omg-downloader" target="_blank"> <em>Link</em></a></div>
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="imgDecShow">
                                    <p>
                                         Designed a automation software that download all the images contents from any website and stores in on local system. It has a functionality to store images on the local system at provided path. It can scrap logos , background-wallpapers ,
                                         images and all icons as appeared on the webpage and converts it into jpeg format and stores locally. 
                                         For this project I have automated nightmare with GUI and firebase database . Moreover have made it real time to screenshot all the graphics on the taget website and store it on local system.
                                         Key feature also include no track of cookies as i am using a headless browser to run the script. The source code is on github.
                                    </p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment: WEBDRIVER , Nightmare , Phantom , React js ,webpack , NPM modules(cmd,loadash,express,dir) Firebase, NODE js , HTML5/CSS , angular , javascript, jquery, NoSQl, Git.
                                    </h5>
                                    </footer>

                                    </div>
                                   
            </div>