<div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="js1DecShow=false" ng-click="js1DecShow=!js1DecShow">
                                    <h1>AutoApply Job BOT</h1>  <stong><a href="https://github.com/daxesh10/job-scraper" target="_blank">source code</a></stong>
                                  
                                    <div class="wow bounce" data-wow-delay="5s"><a href="https://scrap-jobs-posting.herokuapp.com/jobs" target="_blank"> <em>Link</em></a></div>
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="js1DecShow">
                                    <p>
                                       Designed a automation bot using webdriver to getting all job posting from popular job websites like Linkedin, Monster , Indeed and adding an Extra feature of Auto Apply using NightwatchJS. I am using cheerio and request module for sending request  to all the scraped URLs and performing necessary events such as login and uploading resume for applying to the job opening, Moreover have tried to make it user friendly by making it GUI rich. 
                                       It takes your account details and apply on each job posting one by one.
                                    </p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment: nightwatch , NodeJS, Selenium-Web-server and other npm modules (NightmareJS, SlimerJs, Loadash and etc.) , Express , HTML5/CSS ,angular , javascript, jquery, NoSQl, JSON, Api,
                                    Git, Heroku.
                                    </h5>
                                    </footer>

                                    </div>
                                   
            </div>