<!DOCTYPE html>
<html lang="en">

<head>

<script>



// Modal Image Gallery
function onClick() {
  document.getElementById("img01").src = "/client/assets/files/certi.jpg";
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = "Android and java Team Certification";
}


</script>

    
</head>
<body>


<div class="container">
<div class="row" >
           
                <div class="w3-col m5 l4">
                    <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/dexter1.jpg" alt="profile pic">
                
                </div> 

                 <div class="w3-col m5 l4">
                  <a target="_self" href="/client/assets/files/resume.doc" download="resume.doc">
                    <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/resume.jpg" alt="resume pic">
                  </a> 
                </div>  

                 <div class="w3-col m5 l4">
                   <a target="_blank" href="https://www.linkedin.com/in/daxesh-mehra-a89328138/" class="portfolio-link">        
                    <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/linkedin.jpg" alt="linkedin pic">
                    </a>
                </div> 

                    
                <div class="w3-col m5 l4">
                     <a target="_self" href="/client/assets/files/cover.doc" class="portfolio-link" download="cover.doc">                   
                   <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/cv.png" alt="cv pic">
                     </a>
                </div>  

                  <div class="w3-col m5 l4" ng-init="certiShow=false">
                     <a target="_self" class="portfolio-link" ng-click="certiShow=!certiShow">                   
                   <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/certi.png" alt="certi pic">
                     </a>
                </div> 



</div>

</div>

<!-- Modal for full size images on click-->
<div ng-show="certiShow"  id="modal01" class="w3-modal-content w3-card-4" style="display: block;" ng-click="certiShow=!certiShow">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" src="/client/assets/files/certi.jpg" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"> Android and java Team Certification </p>
  </div>
</div>

</body>
</html>