<div class="container">
<div class="row">
           
                <div class="w3-col m5 l4">
                    <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/dexter1.jpg" alt="profile pic">
                
                </div> 

                 <div class="w3-col m5 l4">
                  <a target="_self" href="/client/assets/files/resume.doc" download="resume.doc">
                    <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/resume.jpg" alt="resume pic">
                  </a> 
                </div>  

                 <div class="w3-col m5 l4">
                   <a target="_blank" href="https://www.linkedin.com/in/daxesh-mehra-a89328138/" class="portfolio-link">        
                    <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/linkedin.jpg" alt="linkedin pic">
                    </a>
                </div> 

                    
                <div class="w3-col m5 l4">
                     <a target="_self" href="/client/assets/files/cover.doc" class="portfolio-link" download="cover.doc">                   
                   <img class="img-responsive w3-circle wow rollIn" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/cv.png" alt="cv pic">
                     </a>
                </div>  



</div>

</div>
