<div class="row" ng-init="objShow=true">
     
        <div class="w3-card-14" style="max-width:90%;padding-left:10%;">
       <img class="img-responsive w3-circle wow slideInRight"  ng-click="objShow=!objShow" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/objective.jpg" alt="profile pic">
     
                <div class="w3-container wow flipInY" ng-show="objShow">
                                    <p>                                 
                                        Currently interested in web application/software development with designing and testing roles like Full stack dev, QA , front end , Web application dev and Software Engineer to provide insights in development by providing functionality using various technology such as<code> Node js , Angular, React js , Ember js, Various NPM Modulues, JavaScript , Jquery , Java , PHP , Spring , MVC, HTML5/CSS SASS and CMS </code>I have<em> 3 years of overall experience</em> in the field development and testing, my long-term goal is to become a better developer .With numerous college projects on Web/Software development under my belt I would like to seek the chance to showcase my skills and talents. With proper guidance and a nice work environment I would excel and be a great asset for any organization.
                                    </p>
                </div>
      
      
      
                 </div>
 </div>  