<div class="row" ng-init="summaryShow=false">
     
        <div class="w3-card-14" style="max-width:90%;padding-left:10%;">
       <img class="img-responsive w3-circle wow slideInRight"  ng-click="summaryShow=!summaryShow" data-wow-duration="4s" data-wow-delay="1s" ng-src="/client/assets/images/summary.jpg" alt="profile pic">
     
                <div class="w3-container wow flipInY" ng-show="summaryShow">
                                    <p>                                 
                                        
Proficient in developing landing page using <code> Java, Spring MVC, PHP, HTML 5, CSS, JavaScript(ES6) and JQUERY </code> 
<br>Experience in making web page cross browser compatible and cross Platform.        
<br>Skilled in creating custom, general use modules and components from Node.JS.
<br>Better understanding of architecture, callbacks, promises and other NPM modules ( ExpressJs, Loadash, http and etc.).  
<br>Skilled in creating Restful API for passing the data in different modules in an application, 
<br>Creating API for end testing. 
<br>Good hands in implementing Web API calls and JSON. 
<br>UI with Angular JS and React JS (MVC framework) to control the page layout. 
<br>Creating forms,validate data, user interaction using AngularJS. Angular and React Js (controllers, Services, filters, models,  Directives  and ng-route, angular-fire). 
Developed application using Node and React js for Asynchronous Module Definition (AMD) , creating components rendering it and injecting the components on target page .Handy with React js for the front end styled using CSS. Developed React js applications by completing stories in timely manner while maintaining best practices outlined by the team lead. 
	
<br>Proficient in designing, reviewing and documentation of system test plans, defining test procedures 
<br>Creating test cases based on products releases features, client's requirements and related technical documents.
<br>Created automated test scripts with Selenium Web driver.
<br>Experience in using Nightwatch Js, Mocha, Jasmine for testing web services developed using Selenium webdriver.
<br>Experience in test cases with Java with experience in using JUnit  for testing.
<br>Experience in Web debugging tools like XPath, Firepath, and Firebug 
<br>Efficient locators for strategies like Xpath and CSS to run web driven scripts and in debugging JavaScript and CSS.


<br>Skilled in developing applications with Android Operating Systems using Android Studio, Eclipse IDE, SQLite, Java, Android SDK. 
<br>creating Different Layouts for the App with full support and providing more rich looks to the UI.
<br>Working around with JSON and GSON implementations for server to client calls. 
<br>Using third party APIs such as google maps. Better Understanding of data flow and Activities, Services, Content providers and receivers. 
<br>Maintained the code and resources in source controls like GitHub, SVN, Gerrithub over the time for improvements and new features

                                    </p>    
                </div>
      
      
      
                 </div>
 </div>  