      <div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="andDevShow=false" ng-click="andDevShow=!andDevShow">
                                    <h1>JR Developer and training</h1>  <stong>Alive Minds – India </stong>
                                  
                                    <div class="wow bounce" data-wow-delay="5s">
                                        <!--<a href="http://scraper-crypto-coin.herokuapp.com/" > <em>SAMPLE PROJECT</em></a></div>-->
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="andDevShow">
                                    <p>Developed the application from specifications and requirement gathering using Android SDK, Java, PHP and MYSQL .
Gained training under senior developer in It Division of Alive Minds Creatives ltd, Designed and developed applications for client using Android platform.
Worked as android developer on both backend (PHP) and front end (Android and XML) of the module using tools Eclipse, MS Visio 2007 and Android Studio.
Build database system to store the data.Fixed bugs and reported the test cases for improving application performance to provide maintenance and post release support for the application.
</p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment:Android Studio , JAVA , XML, PHP , JSON , APIs , Maps , Eclipse , Android SDK </footer>

                                    </div>
                                   
            </div>