      <div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="javaDevShow=false" ng-click="javaDevShow=!javaDevShow">
                                    <h1>Java developer</h1>  <stong>Shiva Softwares – India </stong>
                                  
                                    <div class="wow bounce" data-wow-delay="5s">
                                        <!--<a href="http://scraper-crypto-coin.herokuapp.com/" > <em>SAMPLE PROJECT</em></a></div>-->
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="javaDevShow">
                                    <p>Worked as a java developer for a software team , Used technology such as spring, hibernate to implement module. Junit for performing unit testing and database PostgreSQL.  
                                        Involved in creating various Data Access Objects (DAO) for addition, modification and deletion of records using various specification files.
                                        Developed user interface using JSP, JSP Tag libraries, Java Script. Helping in querying the data and maintain reports.
 </p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment: PHP, JAVA, Spring MVC , Servlets, PostgreSQL, JSP ,JSTl ,JavaScript , HTML , CSS, XMl, JUnit , TestNg, JSON , API , Git</h5>
                                    </footer>

                                    </div>
                                   
            </div>