      <div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="testDevShow=false" ng-click="testDevShow=!testDevShow">
                                    <h1>Testing Engineer</h1>  <stong>Whitebox </stong>
                                  
                                    <div class="wow bounce" data-wow-delay="5s"><a href="https://scrap-jobs-posting.herokuapp.com/" target="_blank" > <em>SAMPLE PROJECT</em></a></div>
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="testDevShow">
                                    <p>Testing restful API using various frameworks such as Mocha, Chakram and NightwatchJS have tested various api, Have exposure of postman, other supporting libraries and npm modules for testing.Performed backend testing using the Mocha.js testing library for Node.js, nightwatch.js testing with selenium webdriver.Also learn to work with NodeJS and ExpressJS, learning NodeJS architecture with better understanding of callbacks and promises.Experience in performing events on DOM elements, checking for content and attribute value using NightwatchJS and NightmareJS. 
                                    Experience in use of CSS selector and XPath selectors for targeting specific DOM element in webpage.Deployment of code using Git Bash cli   
 
                                    </p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment: Selenium Web Driver, Page Object Model, Cucumber, Maven, TestNG, Firebug, Eclipse, Java, Nightwatch, Mocha, chai, XPath, FirePath, Postman, NightmareJs, PhantomJs, CasperJS, SQL, NoSQl, JSON, Api,
                                    Git, Heroku.
                                    </h5>
                                    </footer>

                                    </div>
                                   
            </div>