<div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="blogDecShow=false" ng-click="blogDecShow=!blogDecShow">
                                    <h1>BIT FIRE</h1>  <stong><a href="https://github.com/daxesh10/profile-website" target="_blank">source code</a></stong>
                                  
                                    <div class="wow bounce" data-wow-delay="5s"><a href="http://scraper-crypto-coin.herokuapp.com/" target="_blank"> <em>Link</em></a></div>
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="blogDecShow">
                                    <p>
                                       Designed a Graduate Program web Application using Maven archetype, ORM Mapping, HQL queries. Also handled Subversion repository and implemented Security features. It deals with creating wallet that is responsible for making bitcoin transaction, register user and making them authorized for making transactions and display. Dealing with address and labeling of addresses assigned to authorized user for making transactions. 
                                    </p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment: Spring, Hibernate and PostgreSQL, SVN,Git .
                                    </h5>
                                    </footer>

                                    </div>
                                   
            </div>