<div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="blogDecShow=false" ng-click="blogDecShow=!blogDecShow">
                                    <h1>Employee tracker system   </h1>  
                                    <!--<stong><a href="https://github.com/daxesh10/profile-website">source code</a></stong>-->
                                  
                                    <div class="wow bounce" data-wow-delay="5s">
                                        <!--<a href="http://scraper-crypto-coin.herokuapp.com/" > <em>Link</em></a></div>-->
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="blogDecShow">
                                    <p>
                                      Employee tracker system is a process for establishing a shared workforce understanding about what is to be achieved at an organisation level. It is about aligning the organisational objectives with the employees' agreed measures,skills, competency requirements, development plans and the delivery of results. </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment: Android studio , Java and MySQl
                                    </h5>
                                    </footer>

                                    </div>
                                   
            </div>