<div class="row">
                                    <div class="w3-card-4" >

                                    <header class="w3-container w3-green wow flipInX" data-wow-duration="3s" data-wow-offset="20" ng-init="blogDecShow=false" ng-click="blogDecShow=!blogDecShow">
                                    <h1>Lease Management System </h1>  
                                    <!--<stong><a href="https://github.com/daxesh10/profile-website">source code</a></stong>-->
                                  
                                    <div class="wow bounce" data-wow-delay="5s">
                                        <!--<a href="http://scraper-crypto-coin.herokuapp.com/" > <em>Link</em></a></div>-->
                                 
                                    </header>


                                    
                                    <div class="w3-container wow flipInY" ng-show="blogDecShow">
                                    <p>
                                       Designed a web application for leasing a house using Servlets, JS, JSP Scripting elements, JSTL in MVC architecture     </p>
                                    </div>

                                    <footer class="w3-container w3-blue wow flipInX" data-wow-duration="3s">
                                    <h5>Environment: Java and MySQL,Git .
                                    </h5>
                                    </footer>

                                    </div>
                                   
            </div>